doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include ./favicon.pug

        title Form Filling

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(src='/plugins/jquery/jquery.min.js')
        script(src='/plugins/jquery_validation/jquery.validate.min.js')
        script(src='/plugins/jquery_validation/additional-methods.js')
        script(src='/assets/js/common.js' type="module" )
        script(src="https://cdn.tailwindcss.com")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap" rel="stylesheet")

        style.
            @keyframes borderCycle {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            .animate-borderCycle {
                animation: borderCycle 4s linear infinite;
            }


        block css
        

        block js


    body
        - const isProcessLive = p.p_is_live == 1
        - const processNameMarathi = 'The Yavatmal District Central Co-Op. Bank Ltd., Yavatmal'
        - const processNameEnglish = 'दि यवतमाळ जिल्हा मध्यवर्ती सह. बँक मर्या., यवतमाळ'

        //- top bar

        div(class="bg-[#71C0BB] text-gray-50 py-2 px-4")
            div(class="w-full mx-auto flex flex-col md:flex-row justify-between items-center gap-2")
                // Contact info
                div(class="flex flex-col sm:flex-row gap-2 sm:gap-4")
                    a(
                        href="#"
                        class="flex items-center gap-2 text-gray-50 hover:text-[#4E6688] transition duration-300 ease-in-out text-sm"
                    )
                        // Icon with circle ring
                        span(class="rounded-full p-1 border-1 border-[#332D56]")
                            i.fa-solid.fa-phone 
                            | &nbsp;Helpline: #{p.help_mobile_number}
                    a(href="#" class="flex items-center gap-2 text-gray-50 hover:text-[#4E6688] transition duration-300 ease-in-out text-sm")
                        // Icon with circle ring
                        span(class="rounded-full p-1 border-1 border-[#332D56]")
                            i.fa-solid.fa-envelope
                            | &nbsp;Email: #{p.help_email_id}

        //- header
        header(class="bg-gray-50 shadow-md sticky top-0 z-50")
            div(class="w-full mx-auto px-4 py-3")
                div(class="flex flex-col md:flex-row justify-between items-center")
                    //-Left Section
                    div(class="flex items-center mb-4 md:mb-0")
                        //- div(class="relative mr-3")
                        //- 	div(class="bg-blue-900 w-12 h-12 rounded-lg flex items-center justify-center")
                        //- 		FaUniversity(color="#ffffff" size=20)
                        //- 	div(class="absolute -inset-1 rounded-lg bg-blue-900/30 animate-pulse")
                        div
                            .flex.items-center
                                img(src="/assets/images/ydcc-logo.jpeg" alt="Bank Logo" class="w-14 h-14 object-contain mr-3")
                                div
                                    h1(class="text-xs md:text-xl font-semibold text-[#332D56]" )
                                        | #{processNameEnglish}
                                    p(class="text-xs text-gray-500" style="font-family: 'Playwrite US Modern', sans-serif;")
                                        | #{processNameMarathi}
                    //-Right Section
                    div(class="flex flex-wrap justify-center gap-2")
                        div(data-target-div="important-dates" class=" scroll-to-btn cursor-pointer bg-gray-100 hover:bg-gray-200 text-gray-700 px-4 py-2 rounded-md transition duration-300 ease-in-out flex items-center shadow-sm gap-2")
                            i.fa-solid.fa-calendar-days
                            |  Important Dates
                        div(data-target-div="important-notices" class="scroll-to-btn cursor-pointer bg-gray-100 hover:bg-gray-200 text-gray-700 px-4 py-2 rounded-md transition duration-300 ease-in-out flex items-center shadow-sm gap-2")
                            i.fa-solid.fa-bullhorn
                            |  Important Notices

                        if dates
                            each impDate in dates
                                if impDate._column === 'p_registration_end_date'
                                    if !impDate.isExpired
                                        //- a(href="/new-registration" class="bg-[#4E6688] hover:bg-[#332D56] text-gray-50 px-14 py-2 animate-pulse rounded-md transition duration-300 ease-in-out flex items-center shadow-md gap-2")
                                        //-     i.fa-solid.fa-arrow-right
                                        //-     |  New Registration

                                        a(
                                            href="/new-registration"
                                            class="relative inline-flex items-center gap-2 p-[2px] rounded-md shadow-md overflow-hidden"
                                        )
                                            // Gradient border layer
                                            span(
                                                class="absolute inset-0 rounded-md animate-borderCycle bg-[conic-gradient(var(--tw-gradient-stops))] from-pink-500 via-purple-500 via-blue-500 via-green-500 via-yellow-500 via-red-500 to-pink-500"
                                            )

                                            // Actual button
                                            span(
                                                class="relative flex items-center gap-2 bg-[#4E6688] hover:bg-[#332D56] text-gray-50 px-14 py-2 rounded-md transition duration-300 ease-in-out"
                                            )
                                                i(class="fa-solid fa-arrow-right")
                                                |  New Registration


        block content


        //- footer
        footer(class="bg-gray-800 text-gray-50 mt-12 py-8")
            div(class="px-4 mx-auto")
                // Footer grid
                div(class="grid grid-cols-1 md:grid-cols-3 gap-8")
                    // Company Info
                    div(class="md:col-span-1")
                        div(class="flex flex-col items-end mb-4")
                            //- div(class="bg-gray-50 text-gray-900 w-10 h-10 rounded-full flex items-center justify-center font-semibold mr-3")
                            //- 	| 🏦
                            h3(class="text-sm font-semibold mb-4") #{processNameEnglish}
                            h5(class="text-sm font-normal") #{processNameMarathi}
                        p(class="text-gray-400 text-sm")
                    // Quick Links
                    div(class="col-span-2")
                        h3(class="text-lg font-semibold mb-4") Quick Links
                        ul(class="flex items-center justify-start gap-4")
                            li
                                a(href="/" class="text-gray-400 hover:text-gray-50 transition duration-300") Home
                            li
                                a(href="/about-us" class="text-gray-400 hover:text-gray-50 transition duration-300") About Us
                            li
                                a(href="/privacy-policy" class="text-gray-400 hover:text-gray-50 transition duration-300") Privacy Policy
                            li
                                a(href="/return-policy" class="text-gray-400 hover:text-gray-50 transition duration-300") Return Policy
                            li
                                a(href="/shipping-policy" class="text-gray-400 hover:text-gray-50 transition duration-300") Shipping Policy
                            li
                                a(href="/terms-and-conditions" class="text-gray-400 hover:text-gray-50 transition duration-300") Terms & Conditions



                // Bottom
                div(class="border-t border-gray-700 mt-8 pt-6 text-center text-gray-400 text-sm")
                    p © #{new Date().getFullYear()} #{processNameEnglish} 
                    p All rights reserved.
