extends layout_index_new
block css_link
block inline_css
    style.
        .result-table {
            margin: 15px 0;
            & td {
                padding: 5px;
            }

        }
        .section-heading {
            font-weight: 500;
            font-size: var(--para-label-font-size) !important;
            padding: 0.3rem 0 0 0 !important;
        }

        th {
            font-size: var(--para-label-2-font-size) !important;
            padding: 0.2rem !important;
            font-weight: 500;
        }

        td {
            font-size: var(--para-label-font-size) !important;
            padding: 0.2rem !important;
        }

block inline_js
    script.
        let regID = Number(#{regIDInt});
        let impDates = !{JSON.stringify(impDates)}
        console.log(impDates,'==impDates')
        let regString = '#{regIDString}';
        const p = !{JSON.stringify(p)};
        const isResultGenerated = '#{isResultGenerated}'
        const isInterviewLetterGenerated = '#{isInterviewLetterGenerated}'
        const isPracticalExamHtGenerated = '#{isPracticalExamHtGenerated}'
        const userName = '#{userName}'

        //- const PROCESS_DATES
        const isHtGenerated = #{isHtGenerated}
        const isAnswerKeyGenerated = #{isAnswerKeyGenerated}

        let updateData  = !{JSON.stringify(applicationList)};

block js_link 
    script(src='./assets/js/candidate-home.js' type="module" defer)

block content
        - function checkIfDateExpired(dateType)
            - const findDate = impDates.filter(_date => _date._column === dateType)
            - if (findDate.length > 0 && findDate[0].isExpired)
                - return findDate[0].isExpired
            - else
                - return false


        - const _isPaymentDateExpired = checkIfDateExpired(PROCESS_DATES.P_PAYMENT_END_DATE)
        - const _isEditDateExpired = checkIfDateExpired(PROCESS_DATES.P_EDIT_END_DATE)
        - const _isAppPrintDateExpired = checkIfDateExpired(PROCESS_DATES.P_PRINT_END_DATE)
        - const _isPracExamDateExpired = checkIfDateExpired(PROCESS_DATES.P_PRACTICAL_HT_EXPIRY_DATE)
        - const _isInterviewCallLetterDateExpired = checkIfDateExpired(PROCESS_DATES.P_INTERVIEW_CALL_LETTER_EXPIRY_DATE)
        - const _isAnsKeyDateExpired = checkIfDateExpired(PROCESS_DATES.P_ANSWER_KEY_EXPIRY_DATE)
        - const _isHallticketDateExpired = checkIfDateExpired(PROCESS_DATES.P_HT_EXPIRY_DATE)

        div.container-fluid.mt-1
            div.container-base
                div.side-menu
                    include ./includes/profile-icon.pug

                    if !checkIfDateExpired(PROCESS_DATES.P_REGISTRATION_END_DATE)
                        button#idApplyForNewPost.c-button.c-btn-primary Apply For New Post

                div.main-content


                    if !isResultGenerated && !isInterviewLetterGenerated && !isPracticalExamHtGenerated
                        div.py-2
                            label(for="" class="input-label-title") 
                                i.fa-solid.fa-money-bill-1-wave
                                |&nbsp;My Applications (माझे अर्ज)
                        table.table.table-bordered.text-center
                            thead
                                tr
                                    th(class='input-label' width='2%') #
                                    th(class='input-label' width='2%') Form Status
                                    th(class='input-label' width='7%') Applied Post
                                    th(class='input-label' width='8%') Application Number
                                    th(class='input-label' width='8%') Created
                                    th(class='input-label' width='2%') Fee
                                    th(class='input-label' width='5%') Fee Status
                                    th(class='input-label' width='5%') Action
                            //- tbody.font-weight-bolder#examList
                            //-     tr
                            //-         td(colspan="10")
                            //-             h5.text-danger No Application Found
                        
                            - function isPostForPracticalExam(post) 
                                - const postList = ["वाहन चालक", "वीजतंत्री", "भुईकाटा ऑपरेटर", ];
                                - return postList.includes(post.trim());

                            - function checkIfDateExpired(dateType) 
                                - const findDate = impDates.filter(_date => _date._column === dateType);
                                - return findDate[0].isExpired ? findDate[0].isExpired : false;

                            tbody.font-weight-bolder
                                each application, idx in applicationList
                                    - const _isPreviewDone = application.p_done === 1
                                    - const _isPaymentDone = application.payment_is_done === 1
                                    - const r_id = application.r_id
                                    - const f_id = application.f_id

                                    - const _isHtGenerated = isHtGenerated;
                                    - const _isAnswerKeyGenerated = isAnswerKeyGenerated;
                                    - const _isInterviewLetterGenerated = isInterviewLetterGenerated
                                    - const _isPracticalExamHtGenerated = isPracticalExamHtGenerated;
                                    - const _isResultGenerated = isResultGenerated
                                    - const _isPresentForExam = application.ca_exam_present_status == 1;

                                    tr
                                        th #{idx + 1}
                                        th 
                                            if _isPreviewDone
                                                button(id="" class="d-inline-block c-button c-btn-primary") Completed
                                            else
                                                button(id="" class="d-inline-block c-button c-btn-warning") Incomplete
                                        th
                                            p #{application.applied_post}
                                        th
                                            p #{f_id}
                                        th
                                            p #{application.created_date}
                                        th
                                            if application.post_fee === 0
                                                p 0 /-
                                            else
                                                p #{application.total_payment} /-
                                        th 
                                            if _isPreviewDone && _isPaymentDone
                                                button(id="" class="d-inline-block c-button c-btn-primary") Done
                                            else if _isPreviewDone && !_isPaymentDone && !_isPaymentDateExpired 
                                                a(id="make-payment-btn" class="d-inline-block c-button c-btn-primary make-payment-btn" href=`/payment-page?r=${r_id}&f=${f_id}`) Make Payment
                                            else
                                                button(id="" class="d-inline-block c-button c-btn-warning") Incomplete
                                        
                                        th
                                            if _isPreviewDone && _isPaymentDone

                                                if !_isAppPrintDateExpired
                                                    a(target="_blank" class="d-inline-block c-button c-btn-success" href=`/application?r=${r_id}&f=${f_id}`) Application

                                                //- for online exam hallticket
                                                if _isHtGenerated && !_isHallticketDateExpired
                                                    button(class="btn btn-success btn-sm print-ht-btn" data-url=`/print-ht?r=${r_id}&f=${f_id}&name=${userName.split(" ").join("_")}'`) Download Hallticket
                                                
                                                //- for practical exam
                                                if _isPracticalExamHtGenerated && _isPresentforExam && isPostForPracticalExam(application.applied_post) && !_isPracExamDateExpired
                                                    button(class="btn btn-success btn-sm print-ht-btn" data-url=`/practical-exam-ht?r=${r_id}&f=${f_id}&name=${userName.split(" ").join("_")}'`) Download Hallticket

                                                else if _isPracticalExamHtGenerated && !isPostForPracticalExam(application.applied_post)
                                                    //- p --

                                                //- if answer key generated
                                                if _isAnswerKeyGenerated && _isPresentforExam && !_isAnsKeyDateExpired
                                                    a(target="_blank" class="d-inline-block c-button c-btn-success" href=`/paper-key?r=${regID}&f=${f_id}`) Answer Key
                                                else if !_isAnswerKeyGenerated && !_isHtGenerated && !_isPracticalExamHtGenerated 
                                                    p -
                                                else if _isPracticalExamHtGenerated && _isAnswerKeyGenerated && !_isPresentforExam
                                                    button(class="c-button c-btn-success") Absent
                                                
                                            else if !_isEditDateExpired
                                                //- Show edit and resumt form filling buttons
                                                div(class="d-flex gap-1")
                                                    button(name="" id="applicationEditBtn" 
                                                        class="d-inline-block c-button c-btn-primary applicationEditBtn application-modify-btn" 
                                                        data-type="EDIT"
                                                        data-index=`${idx}`
                                                        data-f-id=`${f_id}`) Edit
                                                    button(
                                                        name="" 
                                                        id="applicationResumeBtn" 
                                                        class="d-inline-block c-button c-btn-success applicationResumeBtn application-modify-btn"
                                                        data-type="RESUME"
                                                        data-index=`${idx}`
                                                        data-f-id=`${f_id}`) Resume


                    //- result

                    if resultDetails.length >= 1 && isResultGenerated
                        -
                            let {   
                                roll_number, 
                                f_id, 
                                r_id,
                                ca_post_name, 
                                marks_gain, 
                                ca_batch_time, 
                                ca_exam_date,
                                ca_photo,
                                ca_sign
                            } = resultDetails[0]

                        div.py-4
                            label(for="" class="input-label-title") 
                                i.fa-solid.fa-money-bill-1-wave
                                span &nbsp;Result
                            br
                            label(for="" class="input-label-title") (निकाल)

                        table.table-bordered.w-50.result-table
                            tbody
                                tr
                                    td(colspan="4" style="width: 40rem; height: 6rem; overflow: hidden; border: 1px solid black; border-radius: 10px; margin: 0.4rem 0;")
                                        img(src="/assets/images/brand-name.jpg" alt="" class="header-image" style='height: 100%; width: 100%;')
                                tr
                                    td(colspan="1" width="20%") Post Name
                                    td(colspan="3" width="80%") #{ca_post_name}
                                tr
                                    td(colspan="1" width="20%") Exam Time
                                    td(colspan="3" width="80%") #{ca_batch_time}
                                tr
                                    td(colspan="1" width="20%") Exam Date
                                    td(colspan="3" width="80%") #{ca_exam_date}

                                tr
                                    td(colspan="4" class="text-center fw-bold") Result

                                tr
                                    td(colspan="1" width="20%") Full Name
                                    td(colspan="2" width="50%") #{userName}

                                    td(rowspan="3" colspan="1" width="30%") 

                                        img(src=s3BucketUrl+'/'+ca_photo, alt="" class="w-50 h-50")
                                        img(src=s3BucketUrl+'/'+ca_sign, alt="" class="w-50 h-50")
                                tr
                                    td(colspan="1" width="20%") User ID
                                    td(colspan="3" width="80%") #{r_id}
                                tr
                                    td(colspan="1" width="20%") Application ID
                                    td(colspan="3" width="80%") #{f_id} 
                                tr.text-center
                                    td.fw-bold(colspan="2" width="50%") Total Marks
                                    td.fw-bold(colspan="2" width="50%") Obtained Marks
                                tr.text-center
                                    td.fw-bold(colspan="2" width="50%") 90
                                    td.fw-bold(colspan="2" width="50%") #{marks_gain.split('/')[0]}

                    if interviewDetails.length >= 1 && isInterviewLetterGenerated && !_isInterviewCallLetterDateExpired
                        div.flex-column.align-items-center.d-flex.justify-content-center
                            p.fw-bold.fs-3 Congratulations, you are selected for interview. 
                            a.btn.btn-primary.fs-3(href='/call-letter?fid='+interviewDetails[0].f_id target="_blank") Download Interview Call Letter

                    if isHtGenerated
                        label.input-label-title सूचना&nbsp;-
                        ul(style="list-style: disc !important; font-weight: bold;")
                            li परीक्षा केंद्रावर येतांना उमेदवारांनी परीक्षा प्रवेश पत्रांच्या तिन्ही पानांची प्रत आणणे अनिवार्य आहे.
                            li परीक्षा प्रवेश पत्रासोबत एक पासपोर्ट साईज फोटो आणणे अनिवार्य आहे.